<h2><%= @account.name %> -
<% if params[:isWithdraw] == "true" %>
  <span class='red-text'><%= t('.withdraw') %></span>
<% else %>
  <span class='green-text'><%= t('.deposit') %></span>
<% end %>
</h2>

<%= simple_form_for([@account, @account.transactions.build]) do |f| %>

  <div class="row">
    <h4 class="center"><em><%= t('.balance') %>: <%= @balance %></em></h4>
  </div>

  <div class="row hide">
    <%= f.input :account_id, :as => :hidden, :input_html => { :value => @account.id } %>
    <%= f.input :user_id, :as => :hidden, :input_html => { :value => current_user.id } %>
    <%= f.input :withdraw, :as => :hidden, :input_html => { :value => params[:isWithdraw] } %>
  </div>

  <div class="row">
    <%= f.input :label, :autofocus => true, wrapper_html: {class: 's12 m6 offset-m3'} %>
    <%= f.input :amount, wrapper_html: {class: 's12 m4 offset-m4'} %>
  </div>

  <div class="row center">
    <%= f.button :submit, value: t('.add'), data: { disable_with: t('.adding')+"..." } %>
    <% if request.referer != nil %>
      <a href="<%= request.referer %>" class="btn grey"><%= t('.cancel') %></a>
    <% else %>
      <a href="<%= accounts_path %>" class="btn grey"><%= t('.cancel') %></a>
    <% end %>
  </div>

<% end %>
