<!DOCTYPE html>
<html>
  <head>
    <title>MoneyManager</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'https://fonts.googleapis.com/icon?family=Material+Icons' %>
  </head>

  <body>
    <%= render 'layouts/navbar' %>
    <main>
      <div class="container">
        <%= render 'layouts/flashes' %>
        <div class="row">
          <% if current_user %>
            <p><%= t('.signed_in_as') %> <%= current_user.username %></p>
          <% else %>
            <p><%= link_to t(".login"), login_path %> | <%= link_to t(".signup"), signup_path %></p>
          <% end %>
        </div>
        <%= yield %>
      </div>
    </main>
    <%= render 'layouts/footer' %>
  </body>
</html>
